<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EVEOnlineSingleSignOnWinForms.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <EVEOnlineSingleSignOnWinForms.Properties.Settings>
      <setting name="InternalServerBaseUrl" serializeAs="String">
        <value>http://localhost:38163</value>
      </setting>
      <setting name="LoginServerBaseUrl" serializeAs="String">
        <value>https://login.eveonline.com/oauth</value>
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value>c496b49614054152b2ce02e859714a0e</value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value>oGSeVESljDfVwF0ZA3rl252biWKkKOFxbmMGqKYZ</value>
      </setting>
      <setting name="Scopes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>characterContactsRead</string>
            <string>characterContactsWrite</string>
          </ArrayOfString>
        </value>
      </setting>
    </EVEOnlineSingleSignOnWinForms.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>