body {
    background: url(bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-family: sans-serif;
    margin-top: 300px;
    text-align: center;
}

div {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 2em;
}

img { margin-top: 1em; }